<%= form_for(@message,:class=>"well") do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field span6">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field span6">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
 <div class="field span6">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field span6">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class=>'input-large', :size=>"40x8", :id=>"message_text" %>
  </div>
	<div class="field span3">
		<br />
    <%= f.submit '发送', :class=>'btn btn-primary submitTagMessage' %>
  </div>

<% end %>

