  <%= form_for(@message,:class=>"well") do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
  <div class="field span6 input-prepend">
    姓名：<%= f.text_field :name %>
  </div>
  <div class="field span6 input-prepend">
    邮箱：<%= f.text_field :email %>
  </div>
  <div class="field span6  input-prepend">
    电话：<%= f.text_field :phone %>
  </div>

   <div class="field span6  input-prepend">
    留言：<%= f.text_area :content, :size=>"40x8", :id=>"message_text" %>
  </div>
   <div class="field span6  input-prepend">
       <%= f.submit '发送', :class=>'btn btn-primary pull-left submitTagMessage' %>
       <button type="button" class="btn" data-dismiss="modal">关闭</button>
  </div>
    </div>

  	 <br />
  

  <% end %>

