
		<div id="myCarousel" class="carousel slide">
		    <!-- Carousel items -->
		    <div class="carousel-inner">
				<% @slides.each do |slide| %>
					<%if slide==@current%>
						<div class="active item">
							<p>	<% if slide.image == []%>
								<%= "No Image Found"%>
								<%else%>
								<%= image_tag slide.image, :size => "780x400" %>				
								<% end%>
							</p>
						</div>
					<%else%>
						<div class="item">
							<p>	<% if slide.image == []%>
								<%= "No Image Found"%>
								<%else%>
								<%= image_tag slide.image, :size => "780x400" %>				
								<% end%>
							</p>
						</div>
					<%end%>
				<%end%>
		    </div>
	  	    <!-- Carousel nav -->
		    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

		<div>
			
		</div>
		
			<div id="catalog">
				<% @items.each do |item| %>
				<div class='thumbnail span2 popular-box'>
						<% if item.images == []%>
						<%= "No Image Found"%>
						<%else%>
						<%= image_tag item.images.first.image_url, :size => "180x135" %>				
						<% end%>

					<h4 class='itemName'><%= link_to item.name, item%></h4>
					<p class="remove-margin">Serial #<%= item.item_code %></p>
					<p class="btn btn-warning"><%= number_to_currency item.price %></p>
				</div>
				<%end%>
		</div>

<script>
$(function() {
	$( "input:submit, button" ).button();
});
</script>
