
		<div id="myCarousel" class="carousel slide">
		    <!-- Carousel items -->
		    <div class="carousel-inner">
				<% @slides.each_with_index do |slide,index| %>
					<%if slide==@current%>
						<div  class="active item" id='car_<%=index%>'>
							<p>	<% if slide.image == []%>
									<%= "No Image Found"%>
								<%else%>
									<%=link_to image_tag(slide.image, :size => "780x400"), item_path(:id=>slide.item_id) %>				
								<% end%>
							</p>
						</div>
					<%else%>
						<div class="item" id='car_<%=index%>'>
							<p>	<% if slide.image == []%>
									<%= "No Image Found"%>
								<%else%>
									<%=link_to image_tag(slide.image, :size => "780x400"), item_path(:id=>slide.item_id) %>				
								<% end%>
							</p>
						</div>
					<%end%>
				<%end%>
		    </div>
	  	    <!-- Carousel nav -->
		    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>


		
			<div id="catalog">
				<% @items.each do |item| %>
					<%= render "items/item_box", :item => item %>	
				<%end%>
		</div>

<script>
$(function() {
	$( "input:submit, button" ).button();
	$('.carousel').carousel();
});
</script>
