<div class='thumbnail span2 item-box' id='<%="item_box_" + item.id.to_s%>'>
	<% if item.images == []%>
	<%= "No Image Found"%>
	<%else%>
	<%= link_to image_tag(item.images.first.image_url, :size => "180x135"), item %>				
	<% end%>

	<h4 class='itemName'><%= link_to item.name, item%></h4>
	<p class="remove-margin">Serial #<%= item.item_code %></p>
	<p class="btn btn-warning item_price"><%= number_to_currency item.price %></p>
	<a data-toggle="modal" href=<%="#buyit" + item.id.to_s%> class="btn btn-success">Buy it</a>

	<% if (!cookies['wishlist'].split(",").include?(item.id.to_s) if cookies['wishlist']) || (true if !cookies['wishlist'])%>
	<p class="btn btn-primary interest" id=<%="interest_" +item.id.to_s%>>
		interest
	</p>
	<% end %>
	
	<div  class="modal hide fade" id=<%="buyit" + item.id.to_s%>>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Buy <%= item.name%></h3>
		</div>

		<div class="modal-body">
			<p>Serial #: <%= text_field_tag :item_code, item.item_code, :readonly=>true%></p>
			<p>Price: <%= text_field_tag :price, (number_to_currency item.price), :readonly=>true%></p>
			<p>Phone Number: <%= text_field_tag :phone, (params[:phone])  %></p>
			<p>Email Address: <%= text_field_tag :email, (params[:email])  %></p>
		</div>

		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<%= button_to_function "confirm", "confirm()", :id => "follow_button", :class=>"btn btn-primary" %>
		</div>
	</div>
</div>

<script type="text/javascript">
// handle interest button click
$(".interest").click(function() {
	var s = this.id.toString();
	var item_id = s.split('_')[1];
	// add item_id into cookies
	var wishlist = $.cookie('wishlist');
	if(wishlist == null){
		wishlist = [item_id];
		$.cookie('wishlist', wishlist, { expires: 99 });
		// display in wishlist
		var item_name = $("#item_box_"+item_id+" .itemName").text();
		var item_price = $("#item_box_"+item_id+" .item_price").text();
		$('#wishlist').prepend('<div>'+'<span>'+item_name+' : </span>'+'<span>'+item_price+'</span>'+'</div>');
	}else{
		wishlist = wishlist.split(',');
		if ($.inArray(item_id, wishlist) == -1) {
			wishlist.push(item_id);
			$.cookie('wishlist', wishlist, { expires: 99 });
			// display in wishlist
			var item_name = $("#item_box_"+item_id+" .itemName").text();
			var item_price = $("#item_box_"+item_id+" .item_price").text();
			$('#wishlist').prepend('<div>'+'<span>'+item_name+' : </span>'+'<span>'+item_price+'</span>'+'</div>');
		};
	}
	$('#interest_'+item_id).hide();
});
</script>

