<div class='thumbnail span2 item-box' id='<%="item_box_" + item.id.to_s%>'>
	<div class="item_code_overlay">
		<span class="remove-margin item_code">#<%= item.item_code %></span>
	</div>
	
		<% if item.images == []%>
			<%= "No Image Found"%>
		<%else%>
			<%= link_to image_tag(item.images.first.image_url, :size => "180x135", :class=>'item_pic'), item %>				
		<% end%>
	

	
	<h4><%= link_to truncate(item.name, :length=>42, :omission=>""), item%></h4>

	<span class="remove-margin"><%= number_to_currency item.price %></span>
	
	<div class='remove-margin btn_group'> 


		<% if (!cookies['wishlist'].split(",").include?(item.id.to_s) if cookies['wishlist']) || (true if !cookies['wishlist'])%>
			<span class="remove-margin btn btn-success interest" id=<%="interest_" +item.id.to_s%>>
				Add to Cart
				<i class="icon-shopping-cart icon-white"></i>
			</span>
		<% else %>
			<span class="remove-margin btn btn-danger interest" id=<%="interest_" +item.id.to_s%>>	
				Add to Cart
				<i class="icon-shopping-cart icon-white"></i>
			</span>
		<% end %>
	</div>
</div>

<script type="text/javascript">
// handle interest button click
$(".interest").click(function() {
	var s = this.id.toString();
	var item_id = s.split('_')[1];
	// add item_id into cookies
	var wishlist = $.cookie('wishlist');
	if(wishlist == null){
		wishlist = [item_id];
		$.cookie('wishlist', wishlist, { expires: 99 });
		add_item_in_wishlist_html(item_id);
	}else{
		wishlist = wishlist.split(',');
		if ($.inArray(item_id, wishlist) == -1) {
			wishlist.push(item_id);
			$.cookie('wishlist', wishlist, { expires: 99 });
			add_item_in_wishlist_html(item_id);
		};
	}
	$('#interest_'+item_id).removeClass('btn-success').addClass('btn-danger');
});

function add_item_in_wishlist_html(item_id){
	// display in wishlist
	var item_name = $("#item_box_"+item_id+" .item_code").text();
	var item_price = $("#item_box_"+item_id+" .item_price").text();
	var imagelink = $("#item_box_"+item_id+" .item_pic").attr("src");
	$('#wish_items').prepend("<span class='label remove-margin remove-border span2 pull-left'> #"+item_name+"<span class='pull-right'><i class='icon-trash'></i></span></span>");
	$('#wish_items').prepend("<a href='/items/"+item_id+"'><img src="+imagelink+"/></a>")
		
}
</script>