<div class='thumbnail span2 item-box' id='<%="item_box_" + item.id.to_s%>'>
	<% if item.images == []%>
	<%= "No Image Found"%>
	<%else%>
	<%= link_to image_tag(item.images.first.image_url, :size => "180x135"), item %>				
	<% end%>

	<h4 class='itemName'><%= link_to item.name, item%></h4>
	<ul class='remove-margin '>
	<li class="remove-margin btn-small btn-danger">#<%= item.item_code %></li>
	<li class="remove-margin btn btn-warning item_price"><%= number_to_currency item.price %></li>

	<% if (!cookies['wishlist'].split(",").include?(item.id.to_s) if cookies['wishlist']) || (true if !cookies['wishlist'])%>
	<li class="remove-margin btn-small btn-success interest" id=<%="interest_" +item.id.to_s%>>
		Wishlist
	</li>
	</ul>
	<% end %>
	

</div>

<script type="text/javascript">
// handle interest button click
$(".interest").click(function() {
	var s = this.id.toString();
	var item_id = s.split('_')[1];
	// add item_id into cookies
	var wishlist = $.cookie('wishlist');
	if(wishlist == null){
		wishlist = [item_id];
		$.cookie('wishlist', wishlist, { expires: 99 });
		add_item_in_wishlist_html(item_id);
	}else{
		wishlist = wishlist.split(',');
		if ($.inArray(item_id, wishlist) == -1) {
			wishlist.push(item_id);
			$.cookie('wishlist', wishlist, { expires: 99 });
			add_item_in_wishlist_html(item_id);
		};
	}
	$('#interest_'+item_id).hide();
});

function add_item_in_wishlist_html(item_id){
	// display in wishlist
	var item_name = $("#item_box_"+item_id+" .itemName").text();
	var item_price = $("#item_box_"+item_id+" .item_price").text();
	$('#wishlist').prepend('<a href="/items/'+item_id+'"><div>'+'<span>'+item_name+' : </span>'+'<span>'+item_price+'</span>'+'</div></a>');
}
</script>

