	<div id="catalog">
		<% @items.each do |item| %>
		<div class='thumbnail span3 item-box'>
				<% if item.images == []%>
				<%= "No Image Found"%>
				<%else%>
				<%= image_tag item.images.first.image_url, :size => "220x165" %>				
				<% end%>
			<br>
			<h4 class='itemName'><%= link_to item.name, item%></h4>
			<p class="btn btn-warning">
				<%if item.price == nil%>
				<%= "No Price Available" %>
				<%else%>
				<%= number_to_currency item.price %>
				<%end%>
			</p>
			<h3>Descriptsion:</h3>
			<p>
				<%if item.description == nil%>
				<%= "No Description Available" %>
				<%else%>
				<%= truncate(item.description, :length=>100)%>
				<%end%>
			</p>
		</div>
		<%end%>
	</div>

<script>
$(function() {
	$( "input:submit, button" ).button();
});
</script>
