
	
	<div class="catalog">	

		<div class="span10 remove-margin">	
			<p>
			<div class="pull-left"><i class="icon-home"></i>
				<%if params.has_key?(:cpath)%>
					<i class="icon-chevron-right"></i>
					<%if params[:cpath]=='-1'%>
						<span class='label'>Uncategorized</span>
					<%else%>
						<%@category=Category.find(params[:cpath])%>
					<span class='label'><%=@category.name%></span>
					<%end%>
				<%elsif params.has_key?(:search_text)%>
					<i class="icon-search"></i>
					<span class='label'><%=params[:search_text]%></span>
				<%end%>
			</div>
				
				<div class="btn-group pull-right">
					  <a class="btn dropdown-toggle" data-toggle="dropdown">
					    商品排序
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">

						<li>
							<%= link_to '从新到旧', items_path(:ascend=>1, :cpath=>params[:cpath], :search_text=>params[:search_text], :low=>params[:low], :high=>params[:high]) %>
						</li>	
						<li>
							<%= link_to '从旧到新', items_path(:ascend=>0, :cpath=>params[:cpath], :search_text=>params[:search_text], :low=>params[:low], :high=>params[:high]) %>
						</li>					    
				    
					  	<li>
							<%= link_to '价格从低到高', items_path(:ascend=>2, :cpath=>params[:cpath], :search_text=>params[:search_text], :low=>params[:low], :high=>params[:high]) %>
					    </li>
					    <li>
							<%= link_to '价格从高到低', items_path(:ascend=>3, :cpath=>params[:cpath], :search_text=>params[:search_text], :low=>params[:low], :high=>params[:high]) %>
						</li>
					  </ul>					
				</div>
				
				<div class="btn-group pull-right">
				  <a class="btn dropdown-toggle" data-toggle="dropdown">
				    价格范围
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li><%= link_to "￥0.00 - ￥10000.00", items_path(:low=>0, :high=>1000, :ascend=>params[:ascend], :cpath=>params[:cpath], :search_text=>params[:search_text])%></li>
				    <li><%= link_to "￥10000.00 - ￥50000.00", items_path(:low=>1000, :high=>2500, :ascend=>params[:ascend], :cpath=>params[:cpath], :search_text=>params[:search_text])%></li>
				    <li><%= link_to "￥50000.00 - ￥100000.00", items_path(:low=>2500, :high=>5000, :ascend=>params[:ascend], :cpath=>params[:cpath], :search_text=>params[:search_text])%></li>
				    <li><%= link_to "￥100000.00 - ￥200000.00", items_path(:low=>5000, :high=>10000, :ascend=>params[:ascend], :cpath=>params[:cpath], :search_text=>params[:search_text])%></li>
				    <li><%= link_to "￥100000.00+", items_path(:low=>10000, :ascend=>params[:ascend], :cpath=>params[:cpath], :search_text=>params[:search_text])%></li>
				  </ul>
				</div>	
			</p>	
		</div>
		
		<div class="span10 remove-margin">
		<% @items[0,10].each do |item| %>
			<%= render "items/item_box", :item => item %>	
		<%end%>
		</div>
		<div class="pagination span12">
			<ul>
				<%if @numpages > 1%>
					<% (1..@numpages).each do |i|%>
						<%if params.has_key?(:page) and params[:page] == i.to_s%>
							<li class="active">
						<%else%>
							<li>
						<%end%>
							<%if params.has_key?(:cpath)%>
								<%= link_to i.to_s, items_path(:page=>i, :cpath=>params[:cpath])%>
							<%elsif params.has_key?(:search_text)%>
								<%= link_to i.to_s, items_path(:page=>i, :search_text=>[:search_text])%>
							<%elsif params.has_key?(:low) or params.has_key?(:high)%>
								<%= link_to i.to_s, items_path(:page=>i, :low=>params[:low], :high=>params[:high])%>
							<%else%>
								<%= link_to i.to_s, items_path(:page=>i)%>
							<%end%>						
						</li>			
					<%end%>
				<%end%>
			</ul>
		<div>
	</div>


<script>

$(function() {
	$( "input:submit, button" ).button();
});

</script>
