
	
	<div id="catalog">	
		<div>
			<p>Sort by Price:
			<%if @category%>
				<%= link_to 'Ascending', items_path(:ascend=>true, :cat=>@category) %>,
				<%= link_to 'Descending', items_path(:ascend=>false, :cat=>@category) %>
			<%else%>
				<%= link_to 'Ascending', items_path(:ascend=>true) %>,
				<%= link_to 'Descending', items_path(:ascend=>false) %>	
			<%end%>		
			</p>		
		</div>
		
		<% @items.each do |item| %>
		<div class='thumbnail span3 item-box'>
				<% if item.images == []%>
				<%= "No Image Found"%>
				<%else%>
				<%= link_to image_tag(item.images.first.image_url, :size => "220x165"), item %>				
				<% end%>
			<br>
			<h4 class='itemName'><%= link_to item.name, item%></h4>
			<p class="btn btn-warning">
				<%if item.price == nil%>
				<%= "No Price Available" %>
				<%else%>
				<%= number_to_currency item.price %>
				<%end%>
			</p>
			<h3>Descriptions:</h3>
			<p>
				<%if item.description == nil%>
				<%= "No Description Available" %>
				<%else%>
				<%= truncate(item.description, :length=>100)%>
				<%end%>
			</p>
		</div>
	<%end%>
	</div>

<script>
$(function() {
	$( "input:submit, button" ).button();
});
</script>
