
	
	<div class="catalog">	

		<div class="span8 remove-margin">	
			<p>
			<div class="pull-left"><i class="icon-home"></i>
				<%if params.has_key?(:cpath)%>
					<i class="icon-chevron-right"></i>
					<%if params[:cpath]=='-1'%>
						<span class='label'>Uncategorized</span>
					<%else%>
						<%@category=Category.find(params[:cpath])%>
					<span class='label'><%=@category.name%></span>
					<%end%>
				<%elsif params.has_key?(:search_text)%>
					<i class="icon-search"></i>
					<span class='label'><%=params[:search_text]%></span>
				<%end%>
			</div>
				
				<div class="btn-group pull-right">
					  <a class="btn dropdown-toggle" data-toggle="dropdown">
					    Sort by
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					    <li>
						    <%if params.has_key?(:cpath)%>
								<%= link_to 'Ascending', items_path(:ascend=>true, :cpath=>params[:cpath]) %>,
							<%elsif params.has_key?(:search_text)%>
								<%= link_to 'Ascending', items_path(:ascend=>true, :search_text=>params[:search_text]) %>,
							<%elsif params.has_key?(:low) or params.has_key?(:high)%>
								<%= link_to 'Ascending', items_path(:ascend=>true, :low=>params[:low], :high=>params[:high]) %>,
							<%else%>
								<%= link_to 'Ascending', items_path(:ascend=>true) %>,
							<%end%>
					    </li>
					    <li>
							<%if params.has_key?(:cpath)%>
								<%= link_to 'Descending', items_path(:ascend=>false, :cpath=>params[:cpath]) %>
							<%elsif params.has_key?(:search_text)%>
								<%= link_to 'Descending', items_path(:ascend=>false, :search_text=>params[:search_text]) %>
							<%elsif params.has_key?(:low) or params.has_key?(:high)%>
								<%= link_to 'Descending', items_path(:ascend=>false, :low=>params[:low], :high=>params[:high]) %>			
							<%else%>
								<%= link_to 'Descending', items_path(:ascend=>false) %>	
							<%end%>				    
						</li>
					  </ul>					
				</div>
				
				<div class="btn-group pull-right">
				  <a class="btn dropdown-toggle" data-toggle="dropdown">
				    Price Range
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li><%= link_to "$0.00 - $100.00", items_path(:low=>0, :high=>100)%></li>
				    <li><%= link_to "$100.00 - $250.00", items_path(:low=>100, :high=>250)%></li>
				    <li><%= link_to "$250.00 - $500.00", items_path(:low=>250, :high=>500)%></li>
				    <li><%= link_to "$500.00 - $1000.00", items_path(:low=>500, :high=>1000)%></li>
				    <li><%= link_to "$1000.00+", items_path(:low=>1000)%></li>
				  </ul>
				  

				</div>	
			</p>	
		</div>
		
		<div class="span10 remove-margin">
		<% @items[0,8].each do |item| %>
			<div class='thumbnail span2 item-box'>
					<% if item.images == []%>
					<%= "No Image Found"%>
					<%else%>
					<%= link_to image_tag(item.images.first.image_url, :size => "180x135"), item %>				
					<% end%>

				<h4 class='itemName'><%= link_to item.name, item%></h4>
				<p class="remove-margin">Serial #<%= item.item_code %></p>
				<p class="btn btn-warning"><%= number_to_currency item.price %></p>
				<a data-toggle="modal" href="#buyit" class="btn btn-success">Buy it</a>
				
				<div  class="modal hide fade" id='buyit'>
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal">×</button>
				    	<h3>Buy <%= item.name%></h3>
				    </div>
				    
				    <div class="modal-body">
				    	<p>Serial #: <%= text_field_tag :item_code, item.item_code, :readonly=>true%></p>
				    	<p>Price: <%= text_field_tag :price, (number_to_currency item.price), :readonly=>true%></p>
				    	<p>Phone Number: <%= text_field_tag :phone, (params[:phone])  %></p>
				    	<p>Email Address: <%= text_field_tag :email, (params[:email])  %></p>
				    </div>
				    
				    <div class="modal-footer">
				    	<a href="#" class="btn" data-dismiss="modal">Close</a>
						<%= button_to_function "confirm", "confirm()", :id => "follow_button", :class=>"btn btn-primary" %>
				    </div>
				</div>
				
			</div>
		<%end%>
		</div>
		<div class="pagination span12">
			<ul>
				<%if @numpages > 1%>
					<% (1..@numpages).each do |i|%>
						<%if params.has_key?(:page) and params[:page] == i.to_s%>
							<li class="active">
						<%else%>
							<li>
						<%end%>
							<%if params.has_key?(:cpath)%>
								<%= link_to i.to_s, items_path(:page=>i, :cpath=>params[:cpath])%>
							<%elsif params.has_key?(:search_text)%>
								<%= link_to i.to_s, items_path(:page=>i, :search_text=>[:search_text])%>
							<%elsif params.has_key?(:low) or params.has_key?(:high)%>
								<%= link_to i.to_s, items_path(:page=>i, :low=>params[:low], :high=>params[:high])%>
							<%else%>
								<%= link_to i.to_s, items_path(:page=>i)%>
							<%end%>						
						</li>			
					<%end%>
				<%end%>
			</ul>
		<div>
	</div>


	

	


<script>
	funtion confirm(){
		<% @mimi = MadMimi.new('yisifahan@gmail.com','fa4a98ed7af0adfe49e64ccdec8fca92')%>
		<% @mimi.add_to_list('dante@gmail.com','newsletter') %>
		$("#subscribe").hide()
	})

$(function() {
	$( "input:submit, button" ).button();
});
</script>
