
	
	<div class="catalog">	

		<div class="span10 remove-margin">	
			<p>
			<div class="pull-left"><i class="icon-home"></i>
				<%if params.has_key?(:cpath)%>
					<i class="icon-chevron-right"></i>
					<%if params[:cpath]=='-1'%>
						<span class='label'>Uncategorized</span>
					<%else%>
						<%@category=Category.find(params[:cpath])%>
					<span class='label'><%=@category.name%></span>
					<%end%>
				<%elsif params.has_key?(:search_text)%>
					<i class="icon-search"></i>
					<span class='label'><%=params[:search_text]%></span>
				<%end%>
			</div>
				
				<div class="btn-group pull-right">
					  <a class="btn dropdown-toggle" data-toggle="dropdown">
					    Sort by
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					    <li>
						    <%if params.has_key?(:cpath)%>
								<%= link_to 'Ascending', items_path(:ascend=>true, :cpath=>params[:cpath]) %>,
							<%elsif params.has_key?(:search_text)%>
								<%= link_to 'Ascending', items_path(:ascend=>true, :search_text=>params[:search_text]) %>,
							<%elsif params.has_key?(:low) or params.has_key?(:high)%>
								<%= link_to 'Ascending', items_path(:ascend=>true, :low=>params[:low], :high=>params[:high]) %>,
							<%else%>
								<%= link_to 'Ascending', items_path(:ascend=>true) %>,
							<%end%>
					    </li>
					    <li>
							<%if params.has_key?(:cpath)%>
								<%= link_to 'Descending', items_path(:ascend=>false, :cpath=>params[:cpath]) %>
							<%elsif params.has_key?(:search_text)%>
								<%= link_to 'Descending', items_path(:ascend=>false, :search_text=>params[:search_text]) %>
							<%elsif params.has_key?(:low) or params.has_key?(:high)%>
								<%= link_to 'Descending', items_path(:ascend=>false, :low=>params[:low], :high=>params[:high]) %>			
							<%else%>
								<%= link_to 'Descending', items_path(:ascend=>false) %>	
							<%end%>				    
						</li>
					  </ul>					
				</div>
				
				<div class="btn-group pull-right">
				  <a class="btn dropdown-toggle" data-toggle="dropdown">
				    Price Range
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li><%= link_to "$0.00 - $100.00", items_path(:low=>0, :high=>100)%></li>
				    <li><%= link_to "$100.00 - $250.00", items_path(:low=>100, :high=>250)%></li>
				    <li><%= link_to "$250.00 - $500.00", items_path(:low=>250, :high=>500)%></li>
				    <li><%= link_to "$500.00 - $1000.00", items_path(:low=>500, :high=>1000)%></li>
				    <li><%= link_to "$1000.00+", items_path(:low=>1000)%></li>
				  </ul>
				  

				</div>	
			</p>	
		</div>
		
		<div class="span10 remove-margin">
		<% @items[0,10].each do |item| %>
			<%= render "items/item_box", :item => item %>	
		<%end%>
		</div>
		<div class="pagination span12">
			<ul>
				<%if @numpages > 1%>
					<% (1..@numpages).each do |i|%>
						<%if params.has_key?(:page) and params[:page] == i.to_s%>
							<li class="active">
						<%else%>
							<li>
						<%end%>
							<%if params.has_key?(:cpath)%>
								<%= link_to i.to_s, items_path(:page=>i, :cpath=>params[:cpath])%>
							<%elsif params.has_key?(:search_text)%>
								<%= link_to i.to_s, items_path(:page=>i, :search_text=>[:search_text])%>
							<%elsif params.has_key?(:low) or params.has_key?(:high)%>
								<%= link_to i.to_s, items_path(:page=>i, :low=>params[:low], :high=>params[:high])%>
							<%else%>
								<%= link_to i.to_s, items_path(:page=>i)%>
							<%end%>						
						</li>			
					<%end%>
				<%end%>
			</ul>
		<div>
	</div>


<script>
	function confirm(){
		<% @mimi = MadMimi.new('yisifahan@gmail.com','fa4a98ed7af0adfe49e64ccdec8fca92')%>
		<% @mimi.add_to_list('dante@gmail.com','newsletter') %>
		$('#subscribe').modal('hide');
	};

$(function() {
	$( "input:submit, button" ).button();
});

</script>
