

<div id='listleft'></div>
<div id='listright'>
	<div id='searchDiv'>
	<%= form_tag items_path, :method => 'get' do %>
	  <p>
	   <%= text_field_tag :search_text, params[:search_text] %>
	   <%= submit_tag 'Search', :name=>nil %>
	  </p>
	<% end %>
	</div>
	<div id="itemlist">
	<% @items.each do |item| %>
	    <td><%= item.name %></td>
	    <td><%= item.description %></td>
	    <td><%= item.pic %></td>
	    <td><%= item.price %></td>
	    <td><%= link_to 'Show', item %></td>
		</br>
	<%end%>
		</div>
</div>


<script>
	$(function() {
		$( "input:submit, a, button" ).button();
	});
</script>
