<div id='listright'>
	
<!--	<div id="myCarousel" class="carousel slide span6">
		   Carousel items 
		  <div class="carousel-inner">
				<% @item.images.each do |pic| %>
				<%if pic==@item.images.first%>
				<div class="active item">
					<p>	<% if pic.image == []%>
						<%= "No Image Found"%>
						<%else%>
						<%= image_tag pic.image, :size => "400x300" %>				
						<% end%>
					</p>
				</div>
					<%else%>
					<div class="item">
						<p>	<% if pic.image == []%>
							<%= "No Image Found"%>
							<%else%>
							<%= image_tag pic.image, :size => "400x300" %>				
							<% end%>
						</p>
					</div>
				<%end%>

				<%end%>
		  </div>
		  		   Carousel nav 
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

	</div> -->


	<div class="span12">
		<div class="span7 remove-margin">
			<p>	<% if @current == nil%>
					<%= "No Image Found"%>
				<%else%>
					<%= image_tag @current.image, :size => "532x399" %>				
				<% end%>
			</p>
			<ul class="thumbnails remove-margin">
				<% if @images != [] %>
					<% @images.each do |img|%>
						<%= link_to image_tag(img.image, :size=> "120x90"), item_path(:id=>params[:id], :img_id=>img.id)%>
					<% end %>
				<% end%>
			</ul>
		</div>
		
		<div class="span4">
			<p>
			  <h1><%= @item.name %></h1>
			</p>
			
			<p>
			  <b>Price:</b>
			  <%= number_to_currency @item.price %>
			</p>
			
			<p class="remove-margin">
			  <b>Description:</b>
			  <%= @item.description%>
			</p>
		
			<%= link_to 'Back', items_path, :class=>"btn" %>
			
		</div>
	
	</div>
	<div class="span12">
		<h3>Similar Items:</h3>
		<% @similar[0,5].each do |item| %>
			<div class='thumbnail span2 item-box'>
					<% if item.images == []%>
					<%= "No Image Found"%>
					<%else%>
					<%= link_to image_tag(item.images.first.image_url, :size => "180x135"), item %>				
					<% end%>
				<br>
				<h4 class='itemName'><%= link_to item.name, item%></h4>
				<p class="itemcode">Serial #<%= item.item_code %></p>
				<p class="btn btn-warning">
					<%if item.price == nil%>
					<%= "No Price Available" %>
					<%else%>
					<%= number_to_currency item.price %>
					<%end%>
				</p>
			</div>
		<%end%>
	</div>
</div>