<div id='listright'>
	
<!--	<div id="myCarousel" class="carousel slide span6">
		   Carousel items 
		  <div class="carousel-inner">
				<% @item.images.each do |pic| %>
				<%if pic==@item.images.first%>
				<div class="active item">
					<p>	<% if pic.image == []%>
						<%= "No Image Found"%>
						<%else%>
						<%= image_tag pic.image, :size => "400x300" %>				
						<% end%>
					</p>
				</div>
					<%else%>
					<div class="item">
						<p>	<% if pic.image == []%>
							<%= "No Image Found"%>
							<%else%>
							<%= image_tag pic.image, :size => "400x300" %>				
							<% end%>
						</p>
					</div>
				<%end%>

				<%end%>
		  </div>
		  		   Carousel nav 
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

	</div> -->


	<div class="span12">
		<div class="span7 remove-margin">
			<p>	<% if @current == nil%>
					<%= "No Image Found"%>
				<%else%>
					<%= image_tag @current.image, :size => "532x399" %>				
				<% end%>
			</p>
			<ul class="thumbnails remove-margin">
				<% if @images != [] %>
					<% @images.each do |img|%>
						<%= link_to image_tag(img.image, :size=> "120x90"), item_path(:id=>params[:id], :img_id=>img.id)%>
					<% end %>
				<% end%>
			</ul>
		</div>
		
		<div class="span4">
			<p>
			  <h1><%= @item.name %></h1>
			</p>
			
			<p>
			  <b>Price:</b>
			  <%= number_to_currency @item.price %>
			</p>
			
			<p class="remove-margin">
			  <b>Description:</b>
			  <%= @item.description%>
			</p>
			
			<p>
			<a data-toggle="modal" href="#buyit" class="btn btn-success">Buy it</a>
			</p>
			
			<div  class="modal hide fade" id="buyit">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h3>Buy <%= @item.name%></h3>
				</div>
		
				<div class="modal-body">
					<p>Serial #: <%= text_field_tag :item_code, @item.item_code, :readonly=>true%></p>
					<p>Price: <%= text_field_tag :price, (number_to_currency @item.price), :readonly=>true%></p>
					<p>Phone Number: <%= text_field_tag :phone, (params[:phone])  %></p>
					<p>Email Address: <%= text_field_tag :email, (params[:email])  %></p>
				</div>
		
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Close</a>
					<%= button_to_function "confirm", "confirm()", :id => "follow_button", :class=>"btn btn-primary" %>
				</div>
			</div>
			
			<%= link_to 'Back', items_path, :class=>"btn" %>
			
		</div>
	
	</div>
	<div class="span12">
		<h3>Similar Items:</h3>
		<% @similar[0,5].each do |item| %>
			<%= render "items/item_box", :item => item %>
		<%end%>
	</div>
</div>