<div id='listright'>
	
	<div class="span12">
		<div class="span7 remove-margin">
			
			<div id="curr-img">
				<p>	
					<% if @current == nil%>
						<%= "No Image Found"%>
					<%else%>
						<%= image_tag @current.image, :size => "532x399"%>				
					<% end%>
				</p>
			</div>
			
			<ul class="thumbnails">
				<% if @images != [] %>
					<% @images.each do |img|%>
						<li>
							<%= image_tag img.image, :size=> "120x90", :class=>"sel-img", :id=>("image"+img.id.to_s)%>
						</li>
					<% end %>
				<% end%>
			</ul>
		</div>
		
		<div class="span4">
			<p>
			  <h1 id="item-name"><%= @item.name %></h1>
			</p>
			
			<p>
			  <span class="btn btn-warning" id="item-price"> <%= number_to_currency @item.price%></span>
			  
			  	<% if (!cookies['wishlist'].split(",").include?(@item.id.to_s) if cookies['wishlist']) || (true if !cookies['wishlist'])%>
					<span class="remove-margin btn btn-success interest" id=<%="interest_" +@item.id.to_s%>>
						Wishlist
					</span>
				<% end %>
			  
			</p>
			
			<p class="remove-margin">
			  <b>Description:</b>
			  <%= @item.description%>
			</p>
			
			<%= link_to 'Back', items_path, :class=>"btn" %>
			
		</div>
	</div>
</div>

<script>
    $('.sel-img').click(function(){
    	var myid = this.id;
        var image_url = document.getElementById(myid).src;
        $('#curr-img').html('<img alt="" src="' + image_url + '" width="532"/>');
    });
    
    // handle interest button click
$(".interest").click(function() {
	var s = this.id.toString();
	var item_id = s.split('_')[1];
	// add item_id into cookies
	var wishlist = $.cookie('wishlist');
	if(wishlist == null){
		wishlist = [item_id];
		$.cookie('wishlist', wishlist, { expires: 99 });
		add_item_in_wishlist_html(item_id);
	}else{
		wishlist = wishlist.split(',');
		if ($.inArray(item_id, wishlist) == -1) {
			wishlist.push(item_id);
			$.cookie('wishlist', wishlist, { expires: 99 });
			add_item_in_wishlist_html(item_id);
		};
	}
	$('#interest_'+item_id).hide();
});

function add_item_in_wishlist_html(item_id){
	// display in wishlist
	var item_name = $("#item-name").text();
	var item_price = $("#item-price").text();
	$('#wishlist').prepend('<a href="/items/'+item_id+'"><div>'+'<span>'+item_name+' : </span>'+'<span>'+item_price+'</span>'+'</div></a>');
}
</script>