<div>
	<%= image_tag @images.first.image_url, :size => "200x200" %>
	
</div>

<div>
<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>
</div>

<%= link_to 'Back', items_path %>
