<div id='listright'>
	
	<div class="span12">
		<div class="span7 remove-margin">
			
			<div id="curr-img" >
				<p>	
					<% if @current == nil%>
					<%= "No Image Found"%>
					<%else%>
					<%= image_tag @current.image, :width => "520", :class=>'item_pic'%>				
					<% end%>
				</p>
			</div>
			
			<ul class="thumbnails">
				<% if @images != [] %>
				<% @images.each do |img|%>
				<li>
					<%= image_tag img.image, :size=> "45x60", :class=>"sel-img", :id=>("image"+img.id.to_s)%>
				</li>
				<% end %>
				<% end%>
			</ul>
		</div>
		
		<div class="span3 remove-margin">
			<p>
				<i class=' icon-tag'></i>产品编号：<span class="item_code show_code"><%= @item.item_code %></span>
			</p>
			<p>
				<h1 id="item-name"><%= @item.name %></h1>
			</p>
			<br><br>
			<p>
				<span class="btn btn-price" id="item-price"> <%= number_to_currency @item.price%></span>
			  
				<% if (!cookies['wishlist'].split(",").include?(@item.id.to_s) if cookies['wishlist']) || (true if !cookies['wishlist'])%>
				<button class="remove-margin btn btn-inverse show_interest" id=<%="showInterest_" +@item.id.to_s%>>
					加入购物车
				</button>
				<%else%>
				<button class="remove-margin btn btn-danger show_interest" id=<%="showInterest_" +@item.id.to_s%>>
					加入购物车
				</button>
				<% end %>
			  
			</p>
	
			<hr/>
			<br>
			<p class="remove-margin">
				<span class=show_code>产品介绍 :</span><br>
				<p class='well'><%= @item.description%></p >
				</p>
			
			</div>
		</div>
	</div>

	<script type="text/javascript">

		function show_add_item_in_wishlist_html(item_id){
			// display in wishlist
			var item_code = $(" .item_code").text();
			var item_price = $(" #item-price").text();
			var imagelink = $(" .item_pic").attr("src");
			$('#wish_items').append("<div class='wish-item remove-margin remove-border span2' id='wishItem_"+item_id+"'><span class='label remove-margin remove-border pull-left wish_code_overlay'>"+item_code+"</span><a href='/items/"+item_id+"'><img src="+imagelink+"/></a><span>"+item_price+"<button class='remove_wish_item pull-right' id='removeWishItem_"+item_id+"'><i class='icon-remove'></i></button></span></div>");

	
		}
		$('.sel-img').click(function(){
			var myid = this.id;
			var image_url = document.getElementById(myid).src;
			$('#curr-img').html('<p><img alt="" src="' + image_url + '" width="520"/></p>');
		});

		$(".show_interest").click(function() {
			var s = this.id.toString();
			var item_id = s.split('_')[1];
			// add item_id into cookies
			var wishlist = $.cookie('wishlist',{path:'/'});
			if(wishlist == null){
				wishlist = [item_id];
				$.cookie('wishlist', wishlist, { expires: 99, path: '/' });
				show_add_item_in_wishlist_html(item_id);
			}else{
				wishlist = wishlist.split(',');
				if ($.inArray(item_id, wishlist) == -1) {
					wishlist.push(item_id);
					$.cookie('wishlist', wishlist, { expires: 99, path: '/' });
					show_add_item_in_wishlist_html(item_id);
				};
			}
			$('#interest_'+item_id).removeClass('btn-inverse').addClass('btn-danger');
			$('#showInterest_'+item_id).removeClass('btn-inverse').addClass('btn-danger');
			$('#wishlist').show();
		});

	</script>