<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="<%=root_path%>"></a>
			<div class="nav-collapse">
				
					<div class="navbar-form pull-left">
						<ul class="nav">
								<li><%= link_to "主页","/homepage" %></li>
								<li><%= link_to "商品",items_path %></li>
								<li><%= link_to "关于我们","/aboutUs" %></li>
								<li><%= link_to "服务","/service" %></li>
								<li><a id="blog_link" style="cursor:pointer;">博客</a></li>
								<li><a data-toggle="modal" href="#myModal">联系我们</a></li>
						</ul>
					</div>
					<%= form_tag items_path, :method => 'get',:class=>"navbar-search pull-left" do %>
						<%= text_field_tag :search_text, params[:search_text], :class=>"search-query",:placeholder=>"Search"%>
					<% end %>
					<div class="navbar-form pull-right">
						<ul class="nav">
								<li><a data-toggle="modal" href="#subscribe">订阅</a></li>
								<li><%= link_to "管理",admin_path%></li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$("#blog_link").click(function(){
	var blog = '<iframe id="blog_frame" src="http://yisifahan.lofter.com"><p>Your browser does not support this page. Visit <a href="http://yisifahan.lofter.com">blog here</a>.</p></iframe>';
	$("#content_container").html(blog);
	$("body").css("padding-top","40px");
	$("#blog_frame").css('width','100%');
	$("#blog_frame").css('margin-left','-20px');
	var windowHeight = $(window).height();
	var iframeHeight = windowHeight-48;
	$("#blog_frame").css('height',iframeHeight);
});
<%#= link_to "博客",'http://yisifahan.lofter.com', :target => "_blank" %>
</script>

<div class="modal hide fade" id="myModal" style="padding:15px;">
	 <div>
	</div>
</div>
<div  class="modal hide fade" id='subscribe'>
	<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Enter Your email</h3>
  </div>
  <div class="modal-body">
    <p><%= text_field_tag :email, (params[:email])  %></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
		<%= button_to_function "confirm", "confirm()", :id => "follow_button", :class=>"btn btn-primary" %>
  </div>
</div>

	
	<script>
	$('#myModal').load('<%= new_message_path %>');
	</script>
	<script>
	function confirm(){
		<% @mimi = MadMimi.new('yisifahan@gmail.com','fa4a98ed7af0adfe49e64ccdec8fca92')%>
		<% @mimi.add_to_list(params[:email],'newsletter') %>
		$("#subscribe").hide();
	}
	</script>