<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="homepage"></a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><%= link_to "Browse Products",'items#list' %></li>
					<li><%= link_to "Price List",'items#list'%></li>
					<li><%= link_to "Blog"%></li>
					<li><%= link_to "Contact Us" , 'contact'%></li>
					<li><%= link_to "Admin",'admin'%></li>
				</ul>
			</div>
		</div>
	</div>
</div>