	<div>
		<h4>Categories</h4>
		<% Category.all.each do |category| %>
			<div>
				<p>
					<% if category.category_image%>
					<%= link_to image_tag(category.category_image.image_url, :size => "200x100"), items_path(:cpath=>category) %>	
					<% else%>
					<%= link_to category.name, items_path(:cpath=>category)%>
					<% end%>
				</p>
			</div>
		<%end%>
		<p><%= link_to 'Uncategorized', items_path(:cpath=>-1)%></p>
	</div>
	<hr />

	<div class="btn-group">
	  <a class="btn dropdown-toggle" data-toggle="dropdown">
	    Price Range
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li><%= link_to "$0.00 - $100.00", items_path(:low=>0, :high=>100)%></li>
	    <li><%= link_to "$100.00 - $250.00", items_path(:low=>100, :high=>250)%></li>
	    <li><%= link_to "$250.00 - $500.00", items_path(:low=>250, :high=>500)%></li>
	    <li><%= link_to "$500.00 - $1000.00", items_path(:low=>500, :high=>1000)%></li>
	    <li><%= link_to "$1000.00+", items_path(:low=>1000)%></li>
	  </ul>
	</div>
	<br>
	<div>
		<a data-toggle="modal" href="#subscribe" class="btn btn-success">Subscribe</a>
	</div>
	
	<div  class="modal hide fade" id='subscribe'>
		<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Enter Your email</h3>
	  </div>
	  <div class="modal-body">
	    <p><%= text_field_tag :email, (params[:email])  %></p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Close</a>
			<%= button_to_function "confirm", "confirm()", :id => "follow_button", :class=>"btn btn-primary" %>
	  </div>
	</div>
	
	<script>
	funtion confirm(){
		<% @mimi = MadMimi.new('yisifahan@gmail.com','fa4a98ed7af0adfe49e64ccdec8fca92')%>
		<% @mimi.add_to_list('dante@gmail.com','newsletter') %>
		$("#subscribe").hide()
	})
	</script>