	<div>
		<p>Categories</p>
		<% Category.all.each do |category| %>
			<div>
				<p>
					<% if category.category_image%>
					<%= link_to image_tag(category.category_image.image_url, :size => "200x100"), items_path(:cpath=>category) %>	
					<% else%>
					<%= link_to category.name, items_path(:cpath=>category)%>
					<% end%>
				</p>
			</div>
		<%end%>
		<p><%= link_to 'Uncategorized', items_path(:cpath=>-1)%></p>
	</div>
	<hr />

	<div class="btn-group">
	  <a class="btn dropdown-toggle" data-toggle="dropdown">
	    Price Range
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li><%= link_to "$0.00 - $100.00", items_path(:low=>0, :high=>100)%></li>
	    <li><%= link_to "$100.00 - $250.00", items_path(:low=>100, :high=>250)%></li>
	    <li><%= link_to "$250.00 - $500.00", items_path(:low=>250, :high=>500)%></li>
	    <li><%= link_to "$500.00 - $1000.00", items_path(:low=>500, :high=>1000)%></li>
	    <li><%= link_to "$1000.00+", items_path(:low=>1000)%></li>
	  </ul>
	</div>
