<div id='listleft'>
	<div id='searchDiv'>
		<%= form_tag items_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search_text, params[:search_text], :class=>"sidebar_text_field"%>
			<%= submit_tag 'Search', :name=>nil %>
		</p>
		<% end %>
	</div>
	<div class="category-box">
		<p>Price Range</p>
		<%= form_tag items_path, :method => 'get' do %>
		<p>
			Low: $
			<%= number_field_tag :low, params[:low], :class=>"sidebar_number_field" %>
		</p>
		<p>
			High: $
			<%= number_field_tag :high, params[:high], :class=>"sidebar_number_field" %>
		</p>
		<p>	<%= submit_tag 'Filter', :name=>nil %> </p>
		<% end %>
	</div>
</div>