<div class='remove-magrin'>
	<% Category.all.each do |category| %>
	<div class='remove-magrin'>
		<p class='categories'>
			<% if category.image%>
			<%= link_to image_tag(category.image, :size => "200x60"), items_path(:cpath=>category) %>	
			<% else%>
			<%= link_to category.name, items_path(:cpath=>category)%>
			<% end%>
		</p>
	</div>
	<%end%>
	<%= link_to image_tag('other_category.png', :size => "200x60"), items_path(:cpath=>-1) %>	
</div>
<br>
<hr/>


<div id ='wishlist' class='remove-margin remove-border span2'>
<button id='myCart' class="btn btn-inverse  remove-margin span2"><i class="icon-shopping-cart icon-white"></i>&nbsp我挑选的商品</button>
	<div id='wish_items' class='remove-margin remove-border span2'>
		<% if cookies['wishlist'] %>
			<% cookies['wishlist'].split(",").each do |wl| %>
			<div class='wish-item remove-margin remove-border span2' id='wishItem_<%=wl%>'>
				<% item_wl = Item.find(wl.to_i) %>
				<% if item_wl %>
					<%= link_to item_wl do %>

						<span class='label remove-margin remove-border pull-left wish_code_overlay'> #<%= item_wl.item_code %></span>
						
						<% if item_wl.images == []%>
							<%= "No Image Found"%>
						<%else%>
							<%= link_to image_tag(item_wl.images.first.image_url, :size => "140x140"), item_wl %>				
						<% end%>
						<span>
							<%= number_to_currency item_wl.price%>
							<button class='remove_wish_item pull-right' id='removeWishItem_<%=wl%>'><i class='icon-remove'></i></button>
						</span>
					<% end %>
				<% end %>
			</div>
			<% end %>
		<% end %>
	</div>
	<div class=' pull-right'>
		<%= link_to '发送给商家', send_wishlist_path, :remote => true, :class=>'btn wish_btn btn-success remove-margin'%>
		<button class='btn btn-danger remove-margin wish_btn' id="clean_wishlist"><i class="icon-trash"></i></button>
	</div>
</div>

<script>
	$("#clean_wishlist").click(function(){
		$.cookie('wishlist', null, {  path: '/' });
		$('#wish_items').html("");
		$('.interest').removeClass('btn-danger').addClass('btn-success');
		$('.show_interest').removeClass('btn-danger').addClass('btn-success');
		$('#wishlist').hide();
	});
	
	$('#wish_items').on('click', '.remove_wish_item', function() {
		var s = this.id.toString();
		var item_id = s.split('_')[1];
		var wishlist = $.cookie('wishlist',{  path: '/' });
		wishlist = wishlist.split(',');
		//remove one element from the wishlist
		while (wishlist.indexOf(item_id) !== -1) {
			wishlist.splice(wishlist.indexOf(item_id), 1);
		}
	
		$.cookie('wishlist', wishlist, { expires: 99, path: '/'  });

		$('#interest_'+item_id).removeClass('btn-danger').addClass('btn-success');
		$('#showInterest_'+item_id).removeClass('btn-danger').addClass('btn-success');
		$('#wish_items').find('#wishItem_'+item_id).html("");
	});
</script>
