	<div>
		<p>Categories</p>
		<% Category.all.each do |category| %>
			<div>
				<p>
					<% if category.category_image%>
					<%= link_to image_tag(category.category_image.image_url, :size => "200x100"), items_path(:cpath=>category) %>	
					<% else%>
					<%= link_to category.name, items_path(:cpath=>category)%>
					<% end%>
				</p>
			</div>
		<%end%>
		<p><%= link_to 'Uncategorized', items_path(:uncategorized=>true)%></p>
	</div>
	<hr />
	<div>
		<%= form_tag items_path, :method => 'get' do %>
			Price:<%= number_field_tag :low, params[:low], :class=>"sidebar_number_field" %>-<%= number_field_tag :high, params[:high], :class=>"sidebar_number_field" %></p>
			<%= submit_tag 'Filter', :name=>nil, :class=>"btn"%>
		<% end %>
		</p>
	</div>
	

	
	<!-- <ul class="nav nav-pills">
	  <li class="dropdown" id="menu1">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
	      Price Range
	      <b class="caret"></b>
	    </a>
			<% @lowest = Item.minimum('price') %>
			<% @highest = Item.maximum('price') %>
			<% @increse = (@highest-@lowest)/4%>
	    <ul class="dropdown-menu">
				<% @current = @lowest %>
				<% 4.times do |i| %>
						<% @lowbound = @lowest+i*@increse%>
				    <% @upbound = @lowest+(i+1)*@increse%>
						<li><a href="#">$<%= @lowbound.to_s %>----$<%= @upbound.to_s %></a></li>
				<% end %>
	    </ul>
	  </li>
	</ul> -->