<div>
	<h4>Categories</h4>
	<% Category.all.each do |category| %>
	<div>
		<p>
			<% if category.category_image%>
			<%= link_to image_tag(category.category_image.image_url, :size => "200x100"), items_path(:cpath=>category) %>	
			<% else%>
			<%= link_to category.name, items_path(:cpath=>category)%>
			<% end%>
		</p>
	</div>
	<%end%>
	<p><%= link_to 'Uncategorized', items_path(:cpath=>-1)%></p>
</div>
<hr/>

<br>

<div id ='wishlist'>
	<% if cookies['wishlist'] %>
	<% cookies['wishlist'].split(",").each do |wl| %>
	<% item_wl = Item.find(wl.to_i) %>
	<% if item_wl %>
	<div>
		<span> <%= item_wl.name %> : </span>
		<span> $ <%= item_wl.price %> </span>
	</div>
	<% end %>
	<% end %>
	<div>
		<a id="clean_wishlist">Clean Wishlist</a>
	</div>
	<script type="text/javascript">
	$("#clean_wishlist").click(function(){
		$.cookie('wishlist', null);
		$('#wishlist').html("");
	});
	</script>
	<% end %>
</div>
