<!DOCTYPE html>
<html>
<head>

	<!-- load jquery-UI from google -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js">
		</script> 
		<!-- css for date-picker in new contest page -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/dark-hive/jquery-ui.css" type="text/css" media="all">

  <title>BlanketV</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<%= render "layouts/header" %>
<body>

<div id='listleft'>
	<div id='searchDiv'>
		<%= form_tag items_path, :method => 'get' do %>
	  	<p>
	   	<%= text_field_tag :search_text, params[:search_text] %>
	   	<%= submit_tag 'Search', :name=>nil %>
	  	</p>
		<% end %>
	</div>
	<div class="category-box">
		<p>Price Range</p>
		<%= form_tag items_path, :method => 'get' do %>
	  	<p>
	  	Low: $
	   	<%= number_field_tag :low, params[:low] %>
	  	</p>
	  	<p>
	  	High: $
	   	<%= number_field_tag :high, params[:high] %>
	  	</p>
	  	<p>	<%= submit_tag 'Filter', :name=>nil %> </p>
		<% end %>
	</div>
</div>	
	
<%= yield %>

</body>
</html>
